.red-curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.red-curve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 31px;
  transform: rotateY(180deg);
}

.red-curve .shape-fill {
  fill: #7F1C1D;
}